* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: hsl(0, 0%, 75%);
}
header {
  background-color: hsla(0, 0%, 25%, 0.5);
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 1;
}
img {
  padding: 2.5% 40% 2.5% 40%;
  text-align: center;
}
.head {
  padding-left: 16%;
}
.head a {
  color: hsla(0, 0%, 60%, 0.8);
  padding: 1.5% 7% 2% 7%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.head a:hover {
  background-color: hsl(0, 0%, 70%);
}
.text {
  color: hsl(0, 0%, 20%);
  padding: 10% 10% 0 10%;
  text-align: center;
  position: relative;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}