* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: hsl(0, 0%, 75%);
}
header {
  background-color: hsla(0, 0%, 25%, 0.5);
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 1;
}
img {
  padding-top: 4.6%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2em;
}
.head {
  padding-left: 16%;
}
.head a {
  color: hsla(0, 0%, 60%, 0.8);
  padding: 1.5% 7% 2% 7%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.head a:hover {
  background-color: hsl(0, 0%, 70%);
}
.pictext {
  color: white;
  padding-top: 34%;
  text-align: center;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text {
  color: hsl(0, 0%, 20%);
  padding: 5% 10% 5% 10%;
  background-color: hsl(0, 0%, 75%);
  text-align: center;
  position: relative;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
